*{
	margin:0;
    padding:0;
    font-family: sans-serif;
}

body{
    background-color: #242861;
}
.login{
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
}
.portal {
    width: 350px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 100px;

    background-color: rgba(255, 255, 255, .4);
    border-radius: 15px;
    box-shadow: 2px 2px 14px 8px rgba(0, 0, 0, .3);
    color: rgba(255, 255, 255, .6);
}
.portal h1{
    margin-bottom: 80px;
}

.text-in{
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .6);
}

.btn{
    text-transform: uppercase;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, .5);
    color: rgba(255, 255, 255, .6);
    border: none;
    border-radius: 5px;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}